body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:'couriers new', Courier, monospace;
}

.Password-Container {
    background-color: rgba(240, 145, 12, 0.562);
    width: 500px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.input-container {
    border: solid 2px black;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input{
    border: none;
    background-color:transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;
}

.input::placeholder {
    letter-spacing: 0px;
}

.fa-copy {
    cursor: pointer;
    opacity: 0.3;
}

.fa-copy:hover {
    opacity: 0.7;
}

.btn {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 20px;
    margin: 10px 0;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(147, 30, 17);
}

.btn:active {
    transform: scale(0.95);
} /*donne l'impression de cliquer*/

.alert-container {
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: rgb(238, 238, 19);
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transform: translateY(200px);
    opacity: 0;
    transition: all 0.4s ease;
}

.alert-container.active {
    transform: translateY(0);
    opacity: 1;
}
